---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
import Footer from "../../components/Footer.astro";

import projectDescriptor from "../../descriptors/projects.json";
import type { IProject } from "../../models/project.model";

export async function getStaticPaths() {
  const projects: IProject[] = projectDescriptor.projects;

  return projects.map((project) => ({
    params: { title: project.title.toLowerCase() },
    props: { project },
  }));
}

const { title } = Astro.params;

const project = projectDescriptor.projects.find(
  (p) => p.title.toLowerCase() === title
);
---

<Layout title="Damien Dumontet - project">
  <main>
    <Nav />
    <h2
      class="text-3xl font-bold tracking-tight text-zinc-800 sm:text-4xl mt-24"
    >
      {project?.title}
    </h2>
    <p class="mt-3 text-xl text-zinc-500 sm:mt-4">
      {project?.description}
    </p>

    <div class="h-0.5 w-full bg-zinc-100 my-16"></div>

    <div class="my-8 flex items-center gap-4 w-full">
      {
        project?.stack.map((tech) => (
          <div class="bg-teal-400 rounded-md text-white px-5 py-1 ring-1 ring-teal-500 flex items-center justify-center">
            <img
              src={`/images/logos/${tech.icon}`}
              class="h-5 w-5 mr-2 filter invert"
            />
            <p>{tech.label}</p>
          </div>
        ))
      }
    </div>

    {
      project?.rows.map((row) => (
        <div class="group/row flex flex-col sm:flex-row sm:gap-[2%] mb-8 sm:even:flex-row-reverse">
          <div class="w-full sm:w-[49%] rounded-lg shadow-lg overflow-hidden mb-8 sm:mb-0">
            <img
              src={`/images/projects/${row.image}`}
              alt="project presentation"
              class="w-full h-full object-cover group-hover/row:scale-125 group-hover/row:rotate-3 transition-all duration-700"
            />
          </div>
          <div class="w-full sm:w-[49%] bg-zinc-50 rounded-lg p-8">
            <div class="text-3xl text-zinc-800 font-bold">{row.title}</div>
            <div class="text-2xl text-zinc-400 font-bold">{row.subtitle}</div>
            <div class="text-lg text-zinc-600 mt-4">{row.Description}</div>
            <a
              href={row.link}
              class="group/button ring-1 ring-teal-500 bg-teal-400 text-white rounded-full py-2 px-4 mt-6 font-semibold inline-flex justify-center items-center cursor-pointer hover:bg-teal-300 transition-all duration-300 shadow-lg hover:shadow-sm"
            >
              <p>{row.button}</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5 ml-1"
              >
                <path d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" />
              </svg>
            </a>
          </div>
        </div>
      ))
    }

    <Footer />
  </main>
</Layout>
