<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"
  />
  <link href="style.css" rel="stylesheet">
</head>
<body>
  <div class="bg-zinc-50 lg:px-28">
    <div class="mx-auto max-w-7xl sm:px-10 lg:px-20 bg-white ring-1 ring-zinc-100 pb-16">
      <%- include('../partials/nav') %>
      <div class="py-24 px-4">
        <div class="inline-block h-16 w-16 sm:h-20 sm:w-20 rounded-full ring-2 ring-zinc-100 overflow-hidden shadow-lg">
          <img
            class="h-full mt-1"
            src="/images/perso.jpeg"
            alt="perso logo"
          />
        </div>
        <div class="max-w-2xl mt-12">
          <p class="text-4xl sm:text-6xl font-bold text-zinc-800 leading-tight">
            Software engineer, doer, and creative developer.
          </p>
          <div class="bg-teal-400 text-white rounded-full py-4 px-5 mt-12 font-semibold inline-flex justify-center items-center cursor-pointer hover:bg-teal-300 transition-all duration-300 shadow-lg hover:shadow-none">
            Discover my projects
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 ml-2 mt-0.5">
              <path fill-rule="evenodd" d="M3.75 12a.75.75 0 01.75-.75h13.19l-5.47-5.47a.75.75 0 011.06-1.06l6.75 6.75a.75.75 0 010 1.06l-6.75 6.75a.75.75 0 11-1.06-1.06l5.47-5.47H4.5a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
            </svg>
          </div>
        </div>
      </div>
      <div class="px-4">
        <div class="">
          <div>
            <h2 class="text-3xl font-bold tracking-tight text-zinc-800 sm:text-4xl">
              Recent publications
            </h2>
            <p class="mt-3 text-xl text-zinc-500 sm:mt-4">
              These are my last publications about my works, my learnings, and
              hobbies. don't hesitate to reach me if you want more
              explanations about a subject I talked about.
            </p>
          </div>
          <div class="h-0.5 w-full bg-zinc-100 mt-14 mb-16"></div>
        </div>
        <div class="flex h-44 mb-16">
          <% articles.forEach(function(article) { %>
            <img
                src="<%= img_url %>/<%= article.img %>"
              alt="abstract"
              class="h-44 w-44 shrink-0 rounded-lg shadow-lg"
            />
            <div class="ml-8 flex flex-col h-full">
              <div class="flex items-center mb-2">
                <div class="h-4 w-0.5 bg-zinc-200 mr-2"></div>
                <p class="text-sm text-zinc-400">
                    <%= formatDate(article.created_at) %>
                </p>
              </div>

              <p class="text-xl text-zinc-800 font-semibold mb-2">
                <%= article.title %>
              </p>

              <div class="text-ellipsis overflow-hidden relative">
                <p class="text-zinc-400 text-md"><%= article.overview %></p>
                <div class="bg-gradient-to-t from-white to-transparent h-24 w-full absolute left-0 bottom-0"></div>
              </div>

              <a
                class="flex items-center text-teal-400 hover:text-teal-300 cursor-pointer mt-auto"
                href="/article/<%= formatLink(article.title) %>"
              >
                <p class="mr-2">Read article</p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    fillRule="evenodd"
                    d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                    clipRule="evenodd"
                  />
                </svg>
              </a>
            </div>
          <% }); %>
        </div>
        <div class="mt-16">
          <div class="rounded-lg ring-1 ring-zinc-100 px-6 py-6 md:py-12 md:px-12 lg:py-16 lg:px-16 xl:flex xl:items-center">
            <div class="xl:w-0 xl:flex-1">
              <h2 class="text-2xl font-bold tracking-tight text-zinc-800 sm:text-3xl">
                Stay up to date
              </h2>
              <p class="mt-3 max-w-3xl text-lg leading-6 text-zinc-300">
                Get notified when I publish something new, and unsubscribe at any
                time.
              </p>
            </div>
            <div class="mt-8 sm:w-full sm:max-w-md xl:mt-0 xl:ml-8">
              <form class="sm:flex">
                <input
                  id="email-address"
                  name="email-address"
                  type="email"
                  autoComplete="email"
                  required
                  class="w-full border-0 rounded-md ring-2 ring-zinc-100 px-5 py-3 placeholder-zinc-300 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-teal-400"
                  placeholder="Enter your email"
                />
                <button
                  type="submit"
                  class="mt-3 flex w-full items-center justify-center rounded-md border border-transparent bg-teal-400 px-5 py-3 text-base font-medium text-white shadow hover:bg-teal-300 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-teal-700 sm:mt-0 sm:ml-3 sm:w-auto sm:flex-shrink-0"
                >
                  Notify me
                </button>
              </form>
              <p class="mt-3 text-sm text-zinc-300">
                We care about the protection of your data.
              </p>
            </div>
          </div>
        </div>
      </div>
        <%- include('../partials/footer') %>
    </div>
  </div>
</body>
</html>
